@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@300;600&family=Roboto:wght@400;700&family=Lato:wght@300;900&family=Oswald:wght@400;700&family=Raleway:wght@300;600&family=Playfair+Display:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: #02539b;
  border-radius: 5px;
}