.Redifinir{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: montserrat, poppins;
    text-align: center;
    width: 100%;
}
.Redifinir .inputcode{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
}